.form{
    background-color: #6FA6FF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.formDiv{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
button{
    width: 6rem;
    height:3rem;
    font-size: 1.2rem;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    border: 1px solid black;
}
button:active{
    background-color: #ccc;
}
.formInput{
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 5px;
    margin: 0 .5rem;
}
.filterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}